/*

A1, A2, etc  color: #3cb4e5, #020e12
green check  color: #00eb85
streak bkg   color: #013b29
up left prg  color: #a9fdd8
up right cmt color: #1281a5
streak       color: #00f087
not done dot color: #4a6368
footer       color: #020e12
footer blue  color: #3cb4e5

*/

html, body, #root {
  height: 100%;
}

.App {
  text-align: center;
  background-color: #020e12;
  color: rgb(240, 240, 240);
  font-family: "Nunito Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.App > div {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.NavTop {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Main {
  background-color: #020e12;
  flex-grow: 1;
}

.Header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #0e6481;
  padding: 20px 20px 20px 20px;
  height: 55px;
}

.HeaderHello {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-self: flex-start;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.LinkButton {
  all: unset; /* Remove all default button styling */
  position: relative;
  cursor: pointer;
  font-size: 12px;
  font-weight: bolder;
  margin: 0px 0px 0px 0px;
}

.LinkButton::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px; /* Shift underline 5px below the text */
  width: 100%;
  height: 2px; /* Thickness of underline */
  background-color: #3cb4e5;
}

.CommentButton {
  background-color: #020e12;
  color: white;
  border: 1px solid #3cb4e5;
  border-radius: 5px; /* Slightly rounded corners */
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  font-size: 13px;
  width: 96%;
  margin-top: 15px;
}

.EditButton {
  width: 100%;
  font-weight: 510;
  font-size: 13px;
  background-color: #229cc8;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  text-align: center;
  border-radius: 2px;
  margin-bottom: 5px;
}

.ActivityCard, .Header {
  background-color: #041d25;
}

.ActivityCard {
  border: 1px solid #0e6481;
  border-radius: 5px;
  padding: 5px 10px 15px 10px;
  margin-bottom: auto;
  color: white;
}

.ActivityCard h3 {
  margin: 10px 0px 10px 0px;
}

.DateButton {
  border-radius: 50%;
  color: white;
  height: 45px;
  width: 45px;
  margin-bottom: 4px;
  background-color: inherit;
  border: inherit;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.CircleButton {
  background-color: #062b37;
  border: 0.2px solid #0a475c;
}

.CalendarDate {
  font-size: 15px;
}

.EmptyDiv {
  height: 45px;
  width: 45px;
}

.DayName {
  height: 30px;
  width: 45px;
}

.DateButton:hover {
  border: 0.5px solid #229cc8;
}

.FooterWrapper, .HeaderWrapper {
  position: sticky;
  width: 100%;
  z-index: 100;
}

.FooterWrapper {
  bottom: 0;
  left: 0;
}

.HeaderWrapper {
  top: 0;
  right: 0;
}

.Footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #020e12;
  border-top: 2px solid #0e6481;
  padding: 12px 0px 12px 0px;
}

.Daily {
  text-align: left;
  overflow-x: hidden;
  height: fit-content;
}

.TasksContainer {
  padding: 0px 20px 30px 20px;
}

.CommentButtonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 5px 0px 5px;
}

.Separator {
  width: 100%;          /* Make the line span the full width of the container */
  height: 1px;          /* Set the height to a small value to make it look like a line */
  background-color: #0e6481; /* Set the color of the line */
  border: none;         /* Remove any borders */
}

.Daily p {
  font-size: 14px;
  margin: 1px 0px 1px 0px;
}

.TaskDetails {
  padding: 5px 0px 10px 0px;
  display: flex;
  flex-direction: column;
}

.SlideDetails {
  padding: 5px 20px 10px 20px;
  flex-direction: column;
  display: flex;
  overflow-x: visible;
  transition-property: transform;
  will-change: transform;
}

.SlideDetails h4 {
  font-size: 16px;
  margin: 0;
  max-width: 70%;
}

.Italic {
  font-style: italic;
  color: rgb(165, 165, 165);
  margin: 0 !important;
  font-size: 13px;
}

.Header h4 {
  margin: 2px 0px 2px 0px;
  font-size: 14px;
}

.CircleProgress {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #0e6481;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.FlexStart {
  align-self: flex-start;
  margin-right: 3%;
}

.Daily h2 {
  font-size: 17px;
  margin: 10px 0px 10px 0px;
  letter-spacing: -0.5px;
}

.NavBar {
  margin: 0px 0px 32px 0px;
  overflow-x: hidden;
}

.NavTop {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 0px 0px 10px 0px;
}

.NavTop h2 {
  margin: 10px 0px 10px 0px;
  font-size: 17px;
  letter-spacing: -0.5px;
}

.CalendarLinkContainer {
  margin-left: auto;
  margin-bottom: auto;
  margin-top: 5px;
}

.StreakContainer {
  margin-left: 10px;
  background-color: #013b29;
  color: #00f087;
  padding: 3px 8px 3px 8px;
  border-radius: 5px;
}

.StreakContainer p {
  margin: 0;
  font-size: 10px;
  font-weight: 700;
}

.HeaderCommentButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: #229cc8;
  color: white;
  border: none;
  cursor: pointer;
  text-align: center;
  border-radius: 2px;
}

.CurrDay {
  background-color: #229cc8;
  border: none;
}

.Today {
  border: 1px solid #229cc8;
}


.NavWeek, .DayNames, .Row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  width: 100%;
}

.ActivityCard {
  width: 100%;
  margin: 0px 20px 0px 20px;
  overflow-y: hidden;
}

.NavWeek, .NavTop, .Daily h2 {
  margin: 0px 20px 0px 20px;
}

.DayGrid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.DayGrid, .DayNames {
  padding: 10px 10px 10px 10px;
}

.Calendar {
  display: flex;
  flex-direction: column;
  width: 340px;
  padding: 10px 10px 10px 10px;
}

.ModalWrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 200;
  background-color: rgba(255,255,255,0.5);
}

.ModalInner {
  height: fit-content;
  background-color: #041d25;
  display: flex;
  justify-content: center;
  align-items: center;
}

.CalendarModal {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  width: 100%;
}

.VideoModal {
  width: 100%;
  position: absolute;
  bottom: 0;
  border-radius: 10px 10px 0px 0px;
}

.VideoPlayer iframe {
  border: none;
  margin: 15px 0px 70px 0px;
  height: 175px;
  width: 350px;
}

.MonthTitle {
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.MonthTitle h4 {
  margin: 0;
  font-size: 18px;
}

.MonthTitle button {
  background-color: inherit;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 8px 15px 8px 15px;
}

.CalendarArrow {
  color: white;
}

.ExitButton {
  all: unset; /* Remove all default button styling */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: inherit;
  color: white;
  font-weight: bold;
  margin-left: auto;
  margin-right: 5px;
  cursor: pointer;
}

.CloseX {
  margin-bottom: 1px;
}

.Workout {
  min-height: 100%;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.WorkoutTop {
  width: 100%;
}

.WorkoutProgress {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 5px 0 5px;
}

.WorkoutNavLine {
  width: 100%;
  margin: 0 1.5% 0 1.5%;
  height: 2.5px;          /* Set the height to a small value to make it look like a line */
  background-color: rgb(125, 125, 125); /* Set the color of the line */
  border: none;         /* Remove any borders */
}

.WorkoutMain {
  background-color: inherit;
  color: white;
  text-align: left;
  touch-action: none;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* transition: 0.2s ease; */
  overflow-x: visible;
  position: relative;
}

.SwiperContainer {
  touch-action: none;
  /* transition: 0.2s ease; */
  overflow-x: visible;
  position: relative;
}

.WorkoutMain h4 {
  font-size: 18px;
  margin: 15px 0px 5px 0px;
}

.WorkoutMain p {
  font-size: 16px;
  margin: 0;
}

.SelectedNavLine {
  background-color: #229cc8;
}

.EndWorkoutButton {
  background-color: #062b37;
  color: white;
  border: 1px solid #3cb4e5;
  border-radius: 5px; /* Slightly rounded corners */
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  font-size: 13px;
  width: 96%;
}

.EndWorkoutWrapper {
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.VideoLink {
  all: unset; /* Remove all default button styling */
  cursor: pointer;
  font-weight: bolder;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #61dafb;
  margin-left: auto;
  padding: 3px 3px 3px 3px;
}

.VideoLink p {
  font-size: 12px;
  margin-left: 3px;
}

.WorkoutTaskTitleContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 25px 0px 6px 0px;
}

.TaskDetails h4 {
  font-size: 16px;
  margin: 0;
  max-width: 70%;
}

.VideoPlayerTop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.VideoPlayer p {
  font-size: 12px;
  text-align: left;
  margin: 0;
}

.VideoPlayer h4 {
  margin: 0;
}

.VideoPlayer {
  width: 350px;
}

.Swiper {
  display: flex;
  flex-direction: row;
  width: fit-content;
  overflow-x: visible;
}

/* MEDIA */

@media only screen and (min-width: 1000px) {
  .ExitButton {
    margin-right: 4% !important;
  }
}

@media only screen and (min-width: 750px) {
  .Header {
    padding: 20px 20% 20px 20%;
  }

  .Footer {
    padding: 12px 10% 12px 10%;
  }

  .ActivityCard {
    padding: 5px 10% 15px 10%;
  }
}